@model  List<DAL.Competidor>
@{
    ViewBag.Title = "ListaCompetidores";
}

<h2 class="text-center pt-5 text-info">Lista de Competidores</h2>

<a href="/Competidor/Altacompetidor/" type="button" class="btn btn-success mt-4 ml-5">Crear Nuevo Competidor</a>
<div class="row justify-content-center pt-1 pl-5 pr-5">
    <table class="table table-dark text-center">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th>Operación</th>  
            </tr>
        </thead>
        <tbody>
            @foreach (var competidor in Model)
            {
                <tr>
                    <th scope="row" class="disabled">@competidor.IdCompetidor</th>
                    <td>@competidor.Nombre</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="/Competidor/Eliminar/@competidor.IdCompetidor" type="button" class="btn btn-danger btn-sm">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

