
@{
    ViewBag.Title = "Index";
}

    <h3 class="text-center pt-5 mb-5 text-info">Bienvenido a la evaluación de aprendizaje Nro 2</h3>
    <div class="row justify-content-center m-0">
        <a href="~/Competidor/ListaCompetidores" class="btn btn-primary btn-sm text-center mr-1">Ir a Gestión de Competidores</a>
        <a href="~/Premios/ListaPremios" class="btn btn-primary btn-sm text-center ml-1">Ir a Gestión de Premios</a>
    </div>





