
@{
    ViewBag.Title = "Index";
}

    <h1>Bienvenido a la evaluación de aprendizaje Nro 2</h1>

    <a href="~/Competidor/ListaCompetidores">Ir a Gestión de Competidores</a>
    <br />
    <a href="~/Premios/ListaPremios">Ir a Gestión de Premios</a>

