<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body class="pt-5">

    <div class="container body-content bg-white p-0 mt-5">
        @RenderBody()
        <footer class="mt-5 pt-3 pl-3 pr-3 pb-1 text-secondary">
            <p class="text-center">&copy; @DateTime.Now.Year, Christian Peralta - 93667150  <a href="~/Home/Bienvenido">Ir al Inicio</a></p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>